@model MyWebStore.Models.EmployeeViewModel;


	<div class="row">
		<section>

			<p>@Model.SurName</p>
			<p>@Model.FirstName</p>
			<p>@Model.Patronymic</p>
			<p>@Model.Age лет</p>
			<p>@Html.ActionLink("Назад", "Index")</p>

		</section>
	</div>

